# Backend API Configuration
# Using nginx reverse proxy (works from within Docker network)
BACKEND_URL=http://nginx/backend/api/v1

# Frontend Public Configuration
# This should matches nginx reverse proxy setup
NEXT_PUBLIC_APP_URL=http://localhost/frontend
